<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit information</title>
</head>
<body>
  <form method="POST" action="/admin/edit_menu/<%=item.id%>/edit">
  <input name="title" type="text" value="<%=item.title%>">
  <input name="picture" type="text" value="<%=item.food_picture_url%>">
  <input name="price" type="number" value="<%=item.price_cents%>">
  <input name="type" type="text" value="<%=item.type%>">
  <button type="submit">Submit Changes!</button>
  </form>
</body>
</html>
