<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Menu </title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/_footer.css" type="text/css" />
    <link rel="stylesheet" href="/styles/_header.css" type="text/css"/>
    <link rel="stylesheet" href="/styles/order.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&family=Lobster&family=Lora:ital,wght@0,400;0,500;0,600;1,500;1,600&family=Parisienne&display=swap" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/foodList.js"></script>

  </head>

  <body>
    <%- include('partials/_header') %>
    <h2>Welcome  <%= data.user.name %> !</h2>
    <div class="content-container">
    <main class="main">
      <div class="menu">
        <h3 class="h3-title">Menu </h3>
        <section id="menu-section">
            <% for (let food of items) { %>
            <article class="food-container">
              <img class="food-picture" src="<%= food.food_picture_url %>"/>
              <p class="food-name"><%= food.title %></p>
              <p class="food-price"><%= food.price_cents %></p>
                <button name="<%= food.title %>" type="button" class="add-menu-btn"  value=<%= food.id %>> Add to Order </button>
            </article>
          <% } %>
        </section>
      </div>
      <div class="order-summary">
        <h3> Your Order </h3>
          <section id="order-list-section">
            <form method="POST" action="<%= data.cart.cart_id %>/confirm" >
            <table class="order-list">
            <thead>
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Price</th>
                <th scope="col">Quantitiy</th>
              </tr>
            </thead>
            <tbody id="order-container">
            </tbody>
            </table>
            <p>Total Price: <span id="total-price"></span></p>
                  <button type="submit">Confirmation</button>
                </form>
            </section>
        </div>
    </main>
    </div>
  </body>
   <!-- Footer Partial ---->
  <%- include('partials/_footer') %>
</html>
