<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Menu </title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/_footer.css" type="text/css" />
    <link rel="stylesshet" href="/styles/_header.css" type="text/css"/>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/foodList.js"></script>

  </head>

  <body>
    <h2>Welcome:  <%= data.user.name %>!</h2>
    <main>
      <div class="menu-items">
        <h3>Menu </h3>
          <section id="menu-section">
            <% for (let food of items) { %>
            <article class="food-container">
              <img class="food-picture" src="<%= food.food_picture_url %>"/>
              <p class="food-name"><%= food.title %></p>
              <p class="food-price"><%= food.price_cents %></p>
                <button type="button" class="add-menu-btn" value=<%= food.id %>> Add to Order </button>
            </article>
          <% } %>
          </section>
      </div>
      <div class="order-summary">
        <h3> Your Order </h3>
        <section id="order-list-section">

          <table class="order-list">
            <thead>
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Price</th>
                <th scope="col">Quantitiy</th>
              </tr>
            </thead>
            <tbody id="order-container">
                <tr>
                  <td id="food-name">Example name</td>
                  <td id="food-price">Example Price</td>
                  <td id="food-quantity">Example Quantity</td>
                </tr>
            </tbody>
          </table>
            <p>Total Price: </p>
            <button>Confirmation</button>
        <section id="order-list section">
        </section>
      </div>
    </main>
  </body>
</html>
